.btn{
    display: block;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.btn:hover{
    transition: 0.1s ease-in-out;
    background-color: rgb(36, 36, 36);
}
.preview{
    background-color: rgb(6, 170, 6);
}
.preview:hover{
    transition: 0.1s ease-in-out;
    background-color: green;
}
.reset{
    background-color: #dc0000;
}
.reset:hover{
    transition: 0.1s ease-in-out;
    background-color: #d10000;
}
.printBtn{
    background-color: rgb(6, 170, 6);
    padding: 12px 50px;
}
.exitBtn{
    background-color: #d10000;
    padding: 12px 50px;
}
